#python {
  display: none;
}

#ruby {
  display: none;
}

#javascript {
  display: none;
}

#c {
  display: none;
}

body {
  background-color: black;
  color: lawngreen;
  font-size: 20px;
  margin: 20px;
}

h4 {
  color: yellow;
}

/* 
.learning {
  color: rgb(254,254,51);
} */

#submit:hover {
  background-color: lawngreen;
}
